
html {
    background-color: rgb(212, 227, 245);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

h1 {
    padding: 20px;
    color: steelblue;
    text-decoration: solid;
    text-align: center;
    font-size: 1.8em;
    margin: 3px;
    line-height: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    text-align: center;
    font-size: 1.1em;
    margin: 3px;
    padding: 20px;
    color: rgb(60, 84, 109);

}

