/* GRIDS */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.grid-item {
    background-color: skyblue;
    border: 20px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.grid-container>div {
    background-color: skyblue;
    border: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid-container>div>.item1 {
    box-shadow: 10px 10px;
}

/* HTML */
h1 {
    color: steelblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 20px;
}


/* GRID ITEMS LAYOUT */
.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}

.item2 {
    grid-column-start: 3;
    grid-column-end: 2;

}

.item3 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
}