/* GRIDS */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(212, 227, 245);
    padding: 20px;
}

.grid-item {
    background-color: skyblue;
    border: 20px solid rgb(212, 227, 245);
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.grid-container>div {
    background-color: skyblue;
    border: 5px solid rgb(212, 227, 245);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.grid-container>div>.item1 {
    box-shadow: 10px 10px;
}
/* BODY ADJUSTMENTS */
body {
    width: 90%;
    max-width: 1024px;
    min-width: 640px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* GRID ITEMS LAYOUT */
.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 5px 10px 18px #888888;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: span 2;

}

.item3 {
    grid-column-start: 2;
    grid-column-end: span 2;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: span 3;
}