.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    padding: 5px;
}

.grid-item {
    background-color: skyblue;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

h1 {
    color: steelblue;
    text-align: center;
}

.grid-container > div {
    background-color: skyblue;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    grid-row-start: 2;
    grid-row-end: 5;
}